<app-header [titleHeader]="title"></app-header>

<div class="container" fxLayoutAlign="space-around center">

<div  fxLayoutAlign="space-evenly center"  [fxFlex] >
  <mat-form-field appearance="standard"  >
  <mat-label>List of Employees</mat-label>
  <mat-select (selectionChange)="setValues($event.value)" #option>
    <mat-option *ngFor="let employee of sortedEmployee"
   [value]="employee"> {{employee.name}}
    </mat-option>
  </mat-select>
  <mat-hint></mat-hint>
   </mat-form-field>

   <input placeholder="Date joined" [value]="dateJoined | date: 'dd MMMM YYYY'">
   <input placeholder="Department" [value]="department">
   <input placeholder="Loyalty" [value]="numYears">
 </div>

</div>
<app-new-style></app-new-style>


